#map {
  height: 600px;
  width: 100%;
  padding: 0;
  margin: auto;
}

#layer_selector {
  position: absolute;
  top: 20px;
  right: 6em;
  padding: 0;
}

#layer_selector ul {
  padding: 0; margin: 0;
  list-style-type: none;
}

#layer_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}

#layer_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

#layer_selector li.selected {
  background-color: #EEE;
}

#tooltip {
  position: absolute;
  display: none;
    z-index:1000;
}

#_tooltip {
  background-color: #DDE7F0;
  padding: 4px 6px;
  border: 1px solid #A3B3C7;
}