---
layout: default
text: 'Ingresos'
title: 'Ingresos'
---
<div class='row spacebottom spacetop'>
  <div class='large-9 columns'>
  {% include editables/ingresos/index/ingresos.html %}
  </div>
</div>
<div class='row'>
  <div class='large-6 large-offset-3 columns'>
    <ul class='years'>
      <li class='year-toggle'>
        <a class='y2012' href='?y=2012'>2012</a>
      </li>
      <li class='year-toggle'>
        <a class='y2011' href='?y=2011'>2011</a>
      </li>
      <li class='year-toggle'>
        <a class='y2010' href='?y=2010'>2010</a>
      </li>
      <li class='year-toggle'>
        <a class='y2009' href='?y=2009'>2009</a>
      </li>
      <li class='year-toggle'>
        <a class='y2008' href='?y=2008'>2008</a>
      </li>
    </ul>
  </div>
  <div class='large-4 columns'>
  </div>
</div>
<div class='row'>
  <div class='large-9 columns'>
    <div id='mainvis' style='width: auto; height: 350px;'></div>
  </div>
  <div class='large-3 columns'>
    <div class='highlight-box'>
      <div class='highlight-value-box' id='companies-count'>
        <div class='header-box'></div>
        <div class='subheader-box'>Número de Empresas</div>
      </div>
      <div class='highlight-value-box' id='total-entities'>
        <div class='header-box'></div>
        <div class='subheader-box'>Reportado por el Estado</div>
      </div>
      <div class='highlight-value-box' id='total-companies'>
        <div class='header-box'></div>
        <div class='subheader-box'>Reportado por empresas</div>
      </div>
      <div class='highlight-value-box' id='difference'>
        <div class='header-box'></div>
        <div class='subheader-box'>Diferencia</div>
      </div>
    </div>
  </div>
</div>
<div class='row spacetop'>
  <div class='large-9 columns'>
    <table id='regionData'>
      <tr>
        <th class='sector'>Sector</th>
        <th class='produccion'>Ingresos (S/.)</th>
        <th class='parte'>Parte (%)</th>
        <th class='empresas'>Empresas</th>
      </tr>
    </table>
  </div>
</div>
<div class='row spacetop'>
  <div class='large-12 columns'>
    {% include editables/ingresos/index/recaudacion.html %}
  </div>
</div>
<div class='row spacetop'>
  <div class='large-12 columns'>
    <div id="income-vs-year-bar-chart"> </div>
  </div>
</div>
<div class='row'>
  <div class='large-12 columns right'>
    <ul class='years download'>
      <li class='year-toggle'>
        <a class='json' href='' target='_blank'>JSON</a>
      </li>
      <li class='year-toggle'>
        <a class='csv' href='' target='_blank'>CSV</a>
      </li>
    </ul>
  </div>
</div>
<script>

  AggStats = {
      "init": function(year, rows, totals) {
        var _this = this;

        $('#companies-count .header-box ')
          .text(totals.companies.count);
        $('#total-entities .header-box ')
          .text(rates.sol + totals.government.format());
        $('#total-companies .header-box ')
          .text(rates.sol + totals.companies.paid.format());
        var percentage = (totals.diff * 100 / totals.companies.paid).round(2).
          toString() + "%";
        $('#difference .header-box')
          .text(totals.diff.format() + " (" + percentage + ")");
      }
  }

  Projects = {
    "projectsData": [],
    "treeData": [],
    "init": function(year, rows, totals) {
      var _this = this;

      if(rows.length > 0){
        _.each(rows, function(n){ _this.dataToTable(n, totals.production, year, rows)});
        _.each(rows, function(n){ _this.projectToTreemapJson(n, year); });
        _this.drawTreemap();
        _this.drawTable();
      } else {
        $('#mainvis').html('Informacion no disponible ' + year + '.').
        css('color', 'black');
      }
    },
    "drawTreemap": function () {
      var data = _.map(Projects.treeData, function(node){
        node.data.value           = rates.sol + node.data.value.round(2).format();
        node.data.printable_value = rates.sol + node.data.printable_value.round(2).format();
        return node;
      });
      OpenSpending.DatasetPage.init({
        treemapData: {"children": data }
      })
      setTimeout(Projects.hideSmallAreas, 600)
    },
    "hideSmallAreas": function() {
      if ($(".node").length >  0)
        $(".node").each(function(){
          if (parseInt($(this).css("height")) < 70 || parseInt($(this).css("width")) < 100)
            $(this).find(".desc").css("display", "none")
        })
      else
        setTimeout(Projects.hideSmallAreas, 250)
    },
    "drawTable": function () {
      var _this = this;
      var ps = _.map(Projects.projectsData,function(p){
        p.anteil = p.anteil.round(2).format();
        p.betrag = p.betrag.round(2).format();
        return p;
      });

      for(var i = 0; i < ps.length; i++){
        var project = ps[i];
        var row = ich.ingresoRow(project);
        $('#regionData').find('tbody').append(row);
      }
    },
    "dataToTable": function(row, total, year) {
      var type          = row.c[0].v;
      var solProduction = row.c[1].v.toSol(year);
      var companyName   = row.c[6].v;
      var _row = _.find(Projects.projectsData,
          function(_row){return _row.crs == type;});

      if(_row){
        _row.anteil   += (solProduction * 100 / total).round(2);
        _row.betrag   += solProduction;

        var companyNames = _.flatten(
          _.map(Projects.projectsData,function(p){ return p.companyNames;})
        );
        var matchName    = function(name){ return name == companyName; }
        var newCompany   = !_.find(companyNames, matchName);
        if(newCompany){
          _row.projekte += 1;
          _row.companyNames.push(companyName);
        }
      } else Projects.projectsData.push({
        anteil:   (solProduction * 100 / total).round(2),
        betrag:   solProduction,
        bmz_nr:   type, // for link
        crs:      type,
        crs_en:   type,
        jahr:     year,       // for link
        // summe:    row.c[5].v,
        projekte: 1,
        companyNames: [companyName]
      });
    },
    "projectToTreemapJson": function(row, year) {
      var type          = row.c[0].v;
      var solProduction = row.c[1].v.toSol(year);
      var node = _.find(Projects.treeData,
          function(node){return node.id == type;});

      if(node){
        node.data['$area']        += solProduction;
        node.data.value           += solProduction;
        node.data.printable_value += solProduction;
      }
      else Projects.treeData.push({
        "data": {
          "title": type,
          "$area": solProduction,
          "$color": "#42abd8",
          "value": solProduction,
          "printable_value": solProduction,
          "link": "sector/index.html?y=" + year + "&b=" + type,
          "show_title": true
        },
        "children": [],
        "name": type,
        "id": type
      })
    }
  }
  $(document).ready(function() {
    var year = $.url().param("y") || {{ site.year }};
    CssClass = '.y' + year;
    $(CssClass).attr('class', 'active');
    $('span.year').text(year);

    GQuery.sumByType(year, function(response){
      var rows = response.table.rows;
      var productionUsd = 1, gov = 2, comp = 3, currency = 5, companyName = 6,
      diff = rows[0].c.length;
      GQuery.addColumn(rows, function(row){
        return row.c[gov].v - row.c[comp].v;
      });

      var totals = {
        production: GQuery.sum(rows, productionUsd).toSol(year).round(2),
        government: Client.sumSoles(rows, gov, currency, year).round(2),
        companies: {
          paid: Client.sumSoles(rows, comp, currency, year).round(2),
          count: _.keys( _.groupBy(rows,function(row){return row.c[companyName].v;})).
            length
        },
        diff: Client.sumSoles(rows, diff, currency, year).round(2)
      };

      Projects.init(year, rows, totals);
      AggStats.init(year, rows, totals);
    });

    GChart.dataTable('productionByYearBySector', function(table){
      // Columns
      var year       = 0;
      var production = 1;
      var total      = table.getNumberOfColumns();

      var id    = 'income-vs-year-bar-chart';
      var chart = 'ColumnChart';
      var opts  = {
        height: 340,
        colors:['#7AA136', '#008cba', '#7a93b6'],
        tooltip: {textStyle: {color: '#232323', fontSize: 16}, showColorCode: true},
        chartArea: {top: 20, left: 120, width: 600},
        lineWidth: 5,
        pointSize: 8,
        legend: { position: 'bottom' }
      };

      // Currency conversion
      GDataTable.map(table,function(row){
        for (var col = production ; col < total; col ++) {
          if(typeof row[col] == 'number')
            row[col] = row[col]//.toSol(row[year]).round(2);
        }
        return row;
      });

      // Group by year
      var sum = function(col){
        var _sum = google.visualization.data.sum;
        return { 'column': col, 'aggregation': _sum, 'type': 'number' };
      }
      var groups = _(total - 1).times(function(col){ return sum(col + 1); })
      table = google.visualization.data.group(table, [0], groups);
      // Thousand separators
      GChart.format(table, [1,2,3]);
      GChart.draw(id, table, chart, opts);
    });

    // Temporal
    GSpreadsheet.sheetByTitle('transactions', function(id){
      $('.json').attr('href', GSpreadsheet.sheetUrl(id) + "?alt=json");
    });
    $('.csv' ).attr('href', GSpreadsheet.csvUrl('transactions'));
  });

</script>
{% include treemap.html %}
