---
layout: default
text: 'Inicio'
title: 'Inicio'
---

{{site.locales[locale]}}

<div class="row spacebottom">
  <div class="large-12 columns">
    {% include editables/start/inicio.html %}
  </div>
</div>
<div class="row spacetop">
  <div class="large-12 columns">
    {% include editables/start/ingresos.html %}
  <div id="companies-government-diff"> </div>
</div>
</div>
<div class='row spacetop'>
  <div class='large-12 columns'>
    {% include editables/start/participacion.html %}
    <div id="companies-vs-studies-bar-chart"> </div>
  </div>
</div>
<div class='row spacetop'>
  <div class='large-6 medium-6 columns'>
    {% include editables/start/participacion2.html %}
  </div>
  <div class='large-6 medium-6 columns'>
     <div id="aggregation-pie-chart"> </div>
    <ul class='years download'>
      <li class='year-toggle'>
        <a href='https://docs.google.com/spreadsheet/ccc?key=0AtMts_R3W2qxdG40SUxNcHRmYW01WWxkcnl3WVRVc1E&usp=sharing' target='_blank'>DATA</a>
      </li>
    </ul>
  </div>
</div>

<script>/*<![CDATA[*/
google.load("visualization", "1", {packages:["corechart"]});

$(document).ready(function() {
  GChart.chain(['first','second','third'], function(dataTable){
    GDataTable.col(dataTable, 0,
    ['Primer Estudio', 'Segundo Estudio', 'Tercer Estudio']);

    var options = {legend: {position: 'bottom'}};
    GChart.draw('companies-vs-studies-bar-chart', dataTable, 'ColumnChart',
      options);
  });

  GChart.dataTable('colDiff', function(dataTable){
    // Columns
    var year = 0, currency = 1, gov = 2, comp = 3;
    var options = {
      legend: { position: 'right' },
      chartArea: {top: 20, width: 600, height: 250, bottom: 10},
      height: 280,
      vAxis: {format:'###,###,###,###'}
    };
    GDataTable.map(dataTable, function(row){
      var _year = row[year];
      var isUsd = row[currency] == 'USD';
      return [ _year, row[currency],
        isUsd ? row[gov].toSol(_year) : row[gov],
        isUsd ? row[comp].toSol(_year) : row[comp]
      ];
    });

    var sum = function(column){
      var _sum = google.visualization.data.sum;
      return {'column': column, 'aggregation': _sum, 'type': 'number'};
    };

    dataTable = google.visualization.data.group(dataTable, [year],
      [sum(gov), sum(comp)]
    );

    GChart.format(dataTable, [gov - 1 , comp - 1]);

    GChart.draw('companies-government-diff', dataTable, 'ColumnChart',
      options);
  });


  GChart.dataTable('companiesByAggregation', function(aggregations){
    GChart.format(aggregations, [1]);

    var id     = 'aggregation-pie-chart';
    var width  = '150%';
    var height = '150%';
    GChart.charts.pie(id, aggregations, width, height);
  });

  GSpreadsheet.sheetByTitle('empresas', function(id){
    $('.json-empresas').attr('href', GSpreadsheet.sheetUrl(id) + "?alt=json");
  });

  $('.csv-empresas' ).attr('href', GSpreadsheet.csvUrl('empresas'));

});/*]]>*/</script>


