<div class='row'>
  <div class='large-12 columns'>
    <ul>
      <li>
        <a href="http://eitiperu.minem.gob.pe/">EITI Perú</a>
      </li>
      <li>
        <a href="http://eitipiura.regionpiura.gob.pe/">EITI Piura</a>
      </li>
      <li>
        <a href="http://regionmoquegua.gob.pe/web13/transparencia/eiti.html">EITI Moquegua</a>
      </li>
       <li>
        <a href="http://www.snmpe.org.pe/">Sociedad Nacional de Minería Petróleo y Energía</a>
      </li>
      <li>
        <a href="http://www.propuestaciudadana.org.pe/">Propuesta Ciudadana</a>
      </li>
      <li>
        <a href="http://www.gobernabilidad.org.pe/">Programa "Buen Gobierno y Reforma del Estado"</a>
      </li>
    </ul>
  </div>
</div>
