{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% if locale != "en" %}{% assign locale = "es" %}{% endif %}

<ul class="button-group">
    {% for link in site.locales[locale].navigation %}
      {% assign current = nil %}
      {% if page.text == link.text or page.layout == link.layout %}
        {% assign current = 'active' %}
      {% endif %}
      <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
      <a class="button {{ current }}" href="{{site.url}}{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
