{% assign j_crs = '{{ crs }}' %}{% assign j_crs_en = '{{ crs_en }}' %}{% assign j_betrag = '{{ betrag }}' %}{% assign j_projekte = '{{ projekte }}' %}{% assign j_anteil = '{{ anteil }}' %}

<script id="ingresoRow" type="text/html">
  <tr class="ingresoRow">
    <td class="title"><a href="{{ site.url }}{{ locale_temp }}/ingresos/sector/index.html?b={{ j_bmz_nr }}&y={{ j_jahr }}">{{ j_crs }}</a></td>
    <td class="sol">{{ j_betrag }}</td>
    <td class="percent">{{ j_anteil }}</td>
    <td class="empresas">{{ j_projekte }}</td>
  </tr>
</script>

<script id="ingresoSectorRow" type="text/html">
  <tr class="ingresoSectorRow">
    <td class="title">{{ j_crs }}</td>
    <td class="sol">{{ j_betrag }}</td>
    <td class="percent">{{ j_anteil }}</td>
  </tr>
</script>



