---
layout: default
text: 'Empresas'
title: 'Empresas'
---
<div class='row spacebottom spacetop'>
  <div class='large-12 columns'>
    {% include editables/empresas/index/contribucion.html %}
  </div>
</div>
<div class='row'>
  <div class='large-6 large-offset-3 columns'>
    <ul class='years'>
      <li class='year-toggle'>
        <a class='y2012' href='?y=2012'>2012</a>
      </li>
      <li class='year-toggle'>
        <a class='y2011' href='?y=2011'>2011</a>
      </li>
      <li class='year-toggle'>
        <a class='y2010' href='?y=2010'>2010</a>
      </li>
      <li class='year-toggle'>
        <a class='y2009' href='?y=2009'>2009</a>
      </li>
      <li class='year-toggle'>
        <a class='y2008' href='?y=2008'>2008</a>
      </li>
    </ul>
  </div>
  <div class='large-3 columns'>
  </div>
</div>
<div class='row'>
  <div class='large-9 columns'>
    <div id='mainvis' style='width: auto; height: 350px;'></div>
  </div>
  <div class='large-3 columns'>
    <div class='highlight-box'>
      <div class='highlight-value-box' id='complete2'>
        <div class='header-box'></div>
        <div class='subheader-box'>Empresas</div>
      </div>
      <div class='highlight-value-box' id='complete1'>
        <div class='header-box'></div>
        <div class='subheader-box'>Reportado por empresas</div>
      </div>
      <div class='highlight-value-box' id='complete3'>
        <div class='header-box'></div>
        <div class='subheader-box'>Diferencia año anterior</div>
      </div>
    </div>
  </div>
</div>
<!-- <div class='row spacetop'>
  <div class='large-9 columns'>
    {% include editables/empresas/index/produccion.html %}
  </div>
  <div class='large-3 columns'>
  </div>
</div> -->
<!-- <div class='row spacetop'>
  <div class='large-9 columns'>
    <table id='empresas'>
      <tr>
        <th class='sector'>Sector</th>
        <th class='produccion'>Ingresos (S/.)</th>
        <th class='parte'>Parte (%)</th>
      </tr>
    </table>
  </div>
</div> -->
<div class='row'>
  <div class='large-12 columns right'>
    <ul class='years download'>
      <li class='year-toggle'>
        <a class='json' href='' target='_blank'>JSON</a>
      </li>
      <li class='year-toggle'>
        <a class='csv' href='' target='_blank'>CSV</a>
      </li>
    </ul>
  </div>
</div>
<script>

  AggStats = {
    init: function(totals) {
      var _this = this
      $('#complete1 .header-box')
      .text(rates.sol + totals.companies.amount.round(0).format());
      $('#complete2 .header-box ')
      .text(totals.companies.count);
      $('#complete3 .header-box')
      .text(totals.growth != Infinity ? totals.growth + "%" : "Informacion no disponible.");
    }
  }

  Projects = {
    "projectsData": [],
    "treeData": [],
    "init": function(year, rows, indexes, totals) {
      var _this = this;

      this.projectsData = _.map(rows, function(n) {return _this.dataToTable(n, indexes, totals)});
      this.projectsData = _.sortBy(this.projectsData, function (row) {
        return -row.betrag;
      })

      _.each(rows, function(r) { return _this.projectToTreemapJson(year, r, indexes); });
      _this.drawTreemap();
      _this.drawTable();

    },
    "drawTreemap": function () {
      var data = _(Projects.treeData).map(function(node){
        node.data.value           = rates.sol + node.data.value.round(0).format();
        node.data.printable_value = rates.sol + node.data.printable_value.round(0).format();
        return node;
      });

      OpenSpending.DatasetPage.init({
        treemapData: {"children": data }
      })
      setTimeout(Projects.hideSmallAreas, 600)
    },
    "hideSmallAreas": function() {
      if ($(".node").length >  0)
      $(".node").each(function(){
          if (parseInt($(this).css("height")) < 90 ||
          parseInt($(this).css("width")) < 100)
            $(this).find(".desc").css("display", "none")
          })
       else
         setTimeout(Projects.hideSmallAreas, 250)
    },
    "dataToTable": function(row) {
        row.betrag = row.betrag.replace(/,/g, '.')
        return row
    },
    "drawTable": function () {
      var _this = this;

      var ps = _.map(Projects.projectsData,function(p){
        p.anteil = p.anteil.round(0).format();
        p.betrag = p.betrag.round(0).format();
        return p;
      });

      for(var i = 0; i < ps.length; i++){
        var project = ps[i];
        var row = ich.empresaRow(project);
        if(project.betrag != '0') {
          $('#empresas').find('tbody').append(row);
        }
      }
    },
    "dataToTable": function(row, indexes, totals) {
      var companyPaid   = row.c[indexes.companyAmount].v;
      var companyName   = row.c[indexes.companyName].v;
      var total = totals.companies.amount;
      return {
        anteil:   (companyPaid * 100 / total).round(2),
        betrag:   companyPaid,
        bmz_nr:   companyName,
        crs:      companyName,
        crs_en:   companyName
      };
    },
    "projectToTreemapJson": function(year, row, indexes) {
      var type                 = row.c[indexes.type].v;
      var inUsd                = row.c[indexes.currency].v == 'USD'
      var paidAccordingCompany = row.c[indexes.companyAmount].v;
      if(inUsd) paidAccordingCompany = paidAccordingCompany.toSol(year);

      var node = _(Projects.treeData).find(function(node){return node.name == type;});

      if(node){
        node.data['$area']        += paidAccordingCompany;
        node.data.value           += paidAccordingCompany;
        node.data.printable_value += paidAccordingCompany;
      } else Projects.treeData.push({
        "data": {
          "title": type,
          "$area": paidAccordingCompany,
          "$color": "#42abd8",
          "value": paidAccordingCompany,
          "printable_value": paidAccordingCompany,
          "link": "sector/index.html?y=" + year + "&b=" + type,
          "show_title": true
        },
        "children": [],
        "name": type,
        "id": type
      });
    }
  }

  var lastYear = function(){
    return parseInt($('li.year-toggle:first').text().trim());
  }

  $(document).ready(function() {
    var year = $.url().param("y") || lastYear();
    $('span.year').text(year);
    CssClass = '.y' + year;
    $(CssClass).attr('class', 'active');

    GQuery.transactions(year, function(response){
      var byYear       = Client.groupBy(response, 'year');
      var thisYear     = byYear[year];
      var previousYear = byYear[year - 1];

      var indexes = {
        companyPaid: Client.index(response, 'company_paid'),
        companyName:   Client.index(response, 'company_name'),
        companyAmount: Client.index(response, 'company_total'),
        type:          Client.index(response, 'type'),
        currency:      Client.index(response, 'currency'),
        companies:     Client.index(response, 'companies')
      };

      var production = {
        now:      GQuery.sum(thisYear, indexes.companyPaid).toSol(year),
        previous: !previousYear ? 0 : GQuery.
          sum(previousYear, indexes.companyPaid).toSol(year),
      };

      var growth = ((production.now - production.previous) *
      100 / production.previous).round(2);

      var companies = {
        count: GQuery.sum_empresa(thisYear, indexes.companies),
        amount: Client.sumSoles(thisYear, indexes.companyAmount, indexes.currency, year)
      };

      var totals   = {
        production: production,
        companies:  companies,
        growth: growth
      };

      Projects.init(year, thisYear, indexes, totals);

      AggStats.init(totals);
    });

    GSpreadsheet.sheetByTitle('transactions_transposed', function(id){
      $('.json').attr('href', GSpreadsheet.sheetUrl(id) + "?alt=json");
    });
    $('.csv' ).attr('href', GSpreadsheet.csvUrl('transactions_transposed'));
  });
</script>
{% include treemap.html %}
