<p>
  Los sectores minero y de hidrocarburos juegan un papel muy importante en la economía peruana, y se espera que la contribución que hacen estos sectores se refleje en el desarrollo económico y social de todos los peruanos. EITI Perú trabaja para transparentar las cifras de la contribución que hacen las empresas mineras e hidrocarburíferas al Estado Peruano y la manera como esos ingresos son distribuidos a los diferentes entes. Invitamos a todos los ciudadanos a que se apropien de esta información para contribuir al debate sobre el desarrollo de su región o municipio.
</p>

<h2>Estudio Nacional de Conciliación EITI Perú</h2>
<p>
  EITI Perú publica regularmente el Estudio Nacional de Conciliación, el cual concilia los ingresos percibidos por el gobierno y los pagos que realizan las empresas extractivas que voluntariamente participan. Los estudios completos (1er estudio 2004-2007, 2ndo estudio 2008-2010, 3er estudio 2011-2012) están accesibles en el <a href="http://eitiperu.minem.gob.pe">Ministerio</a>.
</p>
<center>
<img src="{{ site.url }}/images/eiti-schema.png">
</center>
