<p>
  Los sectores minero y de hidrocarburos juegan un papel muy importante en la economía peruana, y se espera que la contribución que hacen estos sectores se refleje en el desarrollo económico y social de todos los peruanos.   El EITI Perú trabaja para transparentar las cifras de la contribución que hacen las empresas mineras e hidrocarburíferas al estado peruano y la manera como esos ingresos son distribuidos a los diferentes entes. Invitamos a todos los ciudadanos a que se apropien de esta información para contribuir al debate sobre el desarrollo de su región o municipio.
</p>

<h2>Estudio Nacional de Conciliación EITI Perú</h2>
<p>
  El EITI Perú publica regularmente el Estudio Nacional de Conciliación, el cual concilia los ingresos percibidos por el gobierno y los pagos que realizan las empresas extractivas que voluntariamente participan.
</p>
<center>
<img src="{{ site.url }}/images/eiti-schema.png">
</center>
