<div class='row spacetop'>
  <div class='large-12 columns'>
    <h2>Agregación</h2>
    <p>
      Un método de presentación de información mediante el cual los pagos realizados por compañías individuales se consolidan y no pueden ser identificados individualmente en un Informe EITI publicado. También puede referirse a la consolidación de distintos tipos de pagos realizados por una compañía de modo que los tipos de pagos individuales no puedan identificarse.
    </p>
    <h2>Cotejador</h2>
    <p>
      Una entidad independiente (habitualmente una firma auditora) que se nombra para que adquiera y coteje pagos y datos de ingresos proporcionados por las compañías y el gobierno. El cotejador no realizará una auditoría, sino que compilará y analizará datos de EITI (financieros y, cuando corresponda, sobre volúmenes de producción) y otros datos no financieros según se presenten e investigará y explicará cualquier discrepancia, según se establezca en los términos de referencia acordados.
    </p>
    <h2>Desagregación</h2>
    <p>
      Un método para presentación de información mediante el cual los pagos de compañías individuales realizados a un gobierno se divulgan y pueden ser identificados por separado. También puede referirse a presentar información sobre tipos individuales de pagos, de modo que cada tipo de pago (regalía, impuesto, etc.) pueda ser identificado.
    </p>
    <h2>Grupo de multipartícipes</h2>
    <p>
      Un comité que ha sido empoderado para desarrollar el plan de trabajo del país, para supervisar la implementación y la gestión del programa de EITI y para promover el debate público sobre la gobernanza de los recursos naturales.
    </p>
    <h2>Informe de Validación</h2>
    <p>
      Un informe compilado por un validador independiente que evalúa el progreso del país en la implementación de EITI en comparación con las normas de EITI.
    </p>
    <h2>Informe EITI</h2>
    <p>
      Un informe que es compilado por un cotejador y que se hace público, donde se indica de qué manera los pagos de las industrias extractivas realizados por compañías concuerdan con los recibidos por los gobiernos y se explican las discrepancias cuando surgen. En Perú se le denomina Estudio Nacional de Conciliación. 
    </p>
    <h2>Materialidad</h2>
    <p>
      Un importe o un porcentaje umbral para determinar si una compañía o un pago es significativo para un resultado. Los países implementadores de EITI suelen establecer niveles de materialidad basados en el tamaño de la compañía o del pago.
    </p>
    <h2>País Candidato</h2>
    <p>
      Un país que se ha comprometido públicamente a implementar el EITI, pero que todavía no ha implementado plenamente todos los estadios requeridos.
    </p>
    <h2>País Cumplidor</h2>
    <p>
    Un país que ha implementado plenamente el EITI y del cual se ha considerado que cumplió con todos los requisitos.
    </p>
    <h2>Plan de Trabajo de EITI</h2>
    <p>
    Un plan de acción acordado por el grupo de multipartícipes que establece lo que el país debe buscar hacer con su proceso de EITI. Incluye objetivos mensurables, un cronograma para la implementación y una evaluación de las restricciones de capacidad potenciales.
    </p>
  </div>
</div>
