<h2>Distribución de los Ingresos de la Industria Extractiva</h2>
<p align="justify">
  Luego de que el Estado Peruano recauda la contribución de las empresas por materia de impuestos, tasas y contribuciones; el Estado distribuye esos ingresos a los gobiernos regionales, municipales, universidades, institutos y al tesoro público.
</p>
<center>
<img src="{{ site.url }}/images/eiti-distribucion.png">
</center>
<br>
<p align="justify">
  En el siguiente mapa usted podrá ver los montos que se distribuyeron a su gobierno regional y a los gobiernos locales, las universidades públicas e institutos en su región; según los conceptos indicados en el mapa. Navegue utilizando su ratón para acceder a la información en detalle.
</p>
