<h2>Distribución de los Ingresos de la Industria Extractiva</h2>
<p>
  Luego de que el Estado Peruano recauda la contrición de las empresas por materia de impuestos, tasas y contribuciones; el Estado distribuye esos ingresos a los gobiernos regionales, municipales, universidades, institutos y al tesoro público.
</p>
<center>
<img src="{{ site.url }}/images/eiti-distribucion.png">
</center>

<p>
  En el siguiente cuadro/mapa usted podrá ver los montos que se distribuyeron a su gobierno regional, municipal, a las universidades e institutos. Navegue utilizando su ratón para acceder a la información en detalle.
</p>